---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { readingTime } from "@lib/utils";
import PostNavigation from "@components/PostNavigation.astro";
import TableOfContents from "@components/TableOfContents.astro";
import Giscus from "@components/Giscus.astro";
import GithubCallout from "@components/GithubCallout.astro";
import {
  getAllArticles,
  getNextArticle,
  getPreviousArticle,
} from "@collections/articles";

export async function getStaticPaths() {
  const articles = await getAllArticles();
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: article,
  }));
}
type Props = CollectionEntry<"articles">;

const nextPost = getNextArticle(Astro.props.slug);
const prevPost = getPreviousArticle(Astro.props.slug);

const article = Astro.props;
const { Content, headings } = await article.render();
---

<Layout title={article.data.title} description={article.data.description}>
  <Container>
    <article class="">
      <header class="animate my-10 space-y-1">
        <div class="animate text-text-disabled mt-2 flex items-center gap-2">
          <time class="font-base text-sm">
            {
              article.data.date.toLocaleDateString("ko-KR", {
                month: "long",
                day: "2-digit",
                year: "numeric",
              })
            }
          </time>
          <span class="font-base text-sm">•</span>
          <div class="font-base flex items-center gap-1 text-sm">
            {readingTime(article.body)}
          </div>
        </div>
        <h1 class="text-3xl font-semibold">
          {article.data.title}
        </h1>
        <p class="text-text-secondary text-lg">
          {article.data.description}
        </p>
        <div class="not-prose flex gap-1">
          {
            article.data.tags.map((tag) => (
              <a
                href={`/tags/${tag}`}
                class="text-text-secondary px-3 py-1 text-sm hover:underline"
              >
                #{tag}
              </a>
            ))
          }
        </div>
      </header>
      {headings.length > 0 && <TableOfContents headings={headings} />}
      <section
        class="animate content prose prose-neutral mt-8 max-w-full dark:prose-invert prose-headings:font-semibold prose-img:mx-auto prose-img:my-auto"
      >
        <Content components={{ callout: GithubCallout }} />
      </section>
      <section class="animate">
        <div class="mt-24">
          <PostNavigation prevPost={prevPost} nextPost={nextPost} />
        </div>
        <div class="mt-24">
          <Giscus />
        </div>
      </section>
    </article>
  </Container>
</Layout>
<script>
  /**
   * @params {HTMLCollectionOf<HTMLElement>} graphs
   */

  async function renderDiagrams() {
    const graphs = document.getElementsByClassName("mermaid");
    console.log("graphs", graphs);
    if (document.getElementsByClassName("mermaid").length === 0) {
      return;
    }
    const { default: mermaid } = await import("mermaid");
    mermaid.initialize({
      startOnLoad: false,
      fontFamily: "var(--sans-font)",
      // @ts-ignore This works, but TS expects a enum for some reason
      theme:
        document.documentElement.dataset.theme === "dark" ? "dark" : "default",
    });
    Array.from(graphs).forEach(async (graph, index) => {
      const content = graph.getAttribute("data-content");
      if (!content) return;
      const id = "mermaid-graph-" + index;
      const result = await mermaid.render(id, content);
      graph.innerHTML = result.svg;
    });
  }

  renderDiagrams();
  document.addEventListener("astro:after-swap", () => renderDiagrams());
  const observer = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
      if (mutation.attributeName === "data-theme") {
        renderDiagrams();
      }
    });
  });
  observer.observe(document.documentElement, {
    attributes: true,
    attributeFilter: ["data-theme"],
  });
</script>
