---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { readingTime } from "@lib/utils";
import PostNavigation from "@components/PostNavigation.astro";
import TableOfContents from "@components/TableOfContents.astro";
import Giscus from "@components/Giscus.astro";
import GithubCallout from "@components/GithubCallout.astro";

export async function getStaticPaths() {
  const posts = (await getCollection("articles"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"articles">;

const posts = (await getCollection("articles"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

function getNextPost() {
  let postIndex;
  for (const post of posts) {
    if (post.slug === Astro.params.slug) {
      postIndex = posts.indexOf(post);
      return posts[postIndex + 1];
    }
  }
}

function getPrevPost() {
  let postIndex;
  for (const post of posts) {
    if (post.slug === Astro.params.slug) {
      postIndex = posts.indexOf(post);
      return posts[postIndex - 1];
    }
  }
}

const nextPost = getNextPost();
const prevPost = getPrevPost();

const post = Astro.props;
const { Content, headings } = await post.render();
---

<Layout title={post.data.title} description={post.data.description}>
  <Container>
    <article
      class="prose prose-neutral prose-invert max-w-full prose-headings:font-semibold prose-headings:text-white prose-img:mx-auto prose-img:my-auto"
    >
      <header class="animate my-10 space-y-1">
        <h1 class="text-3xl font-semibold text-white">
          {post.data.title}
        </h1>
        <p class="text-lg">
          {post.data.description}
        </p>
        <div class="mt-1 flex gap-1">
          {
            post.data.tags.map((tag) => (
              <a
                href={`/tags/${tag}`}
                class="rounded-full border border-white/20 px-2 py-0.5 text-xs text-gray-400"
              >
                {tag}
              </a>
            ))
          }
        </div>
        <div class="animate flex items-center gap-1.5">
          <time class="font-base text-sm">
            {
              post.data.date.toLocaleDateString("ko-KR", {
                month: "long",
                day: "2-digit",
                year: "numeric",
              })
            }
          </time>
          &bull;
          <div class="font-base flex items-center gap-1 text-sm">
            {readingTime(post.body)}
          </div>
        </div>
      </header>
      {headings.length > 0 && <TableOfContents headings={headings} />}
      <section class="animate content">
        <Content components={{ callout: GithubCallout }} />
      </section>
      <section class="animate">
        <div class="mt-24">
          <PostNavigation prevPost={prevPost} nextPost={nextPost} />
        </div>
        <div class="mt-24">
          <Giscus />
        </div>
      </section>
    </article>
  </Container>
</Layout>
