---
import { type CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { ARTICLES } from "@consts";
import { getAllArticles } from "@collections/articles";

const data = (await getAllArticles())
  .filter((article) => !article.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

type Acc = {
  [year: string]: CollectionEntry<"articles">[];
};

const articlesMap = data.reduce((acc: Acc, article) => {
  const year = article.data.date.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(article);
  return acc;
}, {});

const years = Object.keys(articlesMap).sort(
  (a, b) => parseInt(b) - parseInt(a),
);

const pageTitle = "Posts";
const pageDescription = "All articles in the blog";
---

<Layout title={ARTICLES.TITLE} description={ARTICLES.DESCRIPTION}>
  <Container>
    <div class="my-6 space-y-1">
      <h1 class="animate text-3xl font-semibold">
        {pageTitle}
      </h1>
      <p class="animate text-text-secondary text-lg">
        {pageDescription}
      </p>
    </div>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="space-y-4">
          {
            years.map((year) => (
              <section class="animate space-y-4">
                <div class="ml-0.5">
                  <h2 class="text-nowrap text-xl font-semibold">{year}년</h2>
                </div>
                <div>
                  <ul class="not-prose flex flex-col">
                    {articlesMap[year].map((article) => (
                      <li>
                        <a
                          href={`/articles/${article.slug}`}
                          class="group flex flex-col gap-1 rounded-md py-2 md:flex-row md:items-baseline md:gap-2"
                        >
                          <span class="text-text-secondary w-24 text-sm">
                            {new Date(article.data.date).toLocaleDateString(
                              "ko-KR",
                              {
                                year: "numeric",
                                month: "2-digit",
                                day: "2-digit",
                              },
                            )}
                          </span>
                          <h3 class="text-lg font-semibold group-hover:underline">
                            {article.data.title}
                          </h3>
                        </a>
                      </li>
                    ))}
                  </ul>
                </div>
              </section>
            ))
          }
        </div>
      </div>
    </aside>
  </Container>
</Layout>
