---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME, SOCIALS } from "@consts";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div data-pagefind-ignore class="mt-16">
      <h1 class="animate text-xl font-semibold">소개</h1>
      <div class="mt-4 space-y-16">
        <section>
          <article class="animate text-text-secondary space-y-4">
            <p>Refetch는 제 생각과 경험을 공유하는 개인 블로그입니다.</p>
          </article>
        </section>
      </div>

      <section class="animate mt-12 space-y-6">
        <div class="flex flex-wrap items-center justify-between gap-y-2">
          <h2 class="text-xl font-semibold">최근 글</h2>
          <Link href="/blog" underline>모든 글 보기</Link>
        </div>
        <ul class="not-prose flex flex-col">
          {
            blog.map((post) => (
              <li>
                <a
                  href={`/blog/${post.slug}`}
                  class="group flex flex-col gap-1 rounded-md py-2 md:flex-row md:items-baseline md:gap-2"
                >
                  <h3 class="text-lg font-semibold group-hover:underline">
                    {post.data.title}
                  </h3>
                  <span class="text-text-secondary text-sm">
                    {post.data.date.toLocaleDateString()}
                  </span>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </Container>
</Layout>
